extends ../layout.pug

block content
  main.page-content
    section.tickets-list
      h2.visually-hidden Самые новые предложения
      .tickets-list__wrapper
        .tickets-list__header
          a.tickets-list__btn.btn.btn--big(href='/offers/add')
            span Новая публикация
        ul
          each offer of offers
            li.tickets-list__item.js-card
              .ticket-card.ticket-card--color06
                .ticket-card__img
                  img(src=`/img/${offer.picture}` alt='Изображение товара')
                .ticket-card__info
                  span.ticket-card__label #{offer.type}
                  .ticket-card__categories
                    each category of offer.categories
                      a(href=`/offers/category/${category.id}`) #{category.name}
                  .ticket-card__header
                    h3.ticket-card__title
                      a(href=`/offers/${offer.id}`) #{offer.title}
                    p.ticket-card__price
                      span.js-sum #{offer.sum}
                      |  ₽
                form(action=`/my/${offer.id}` method='POST')
                  input(type="hidden" name="_csrf" value=csrfToken)
                  button.ticket-card__del(type='submit') Удалить

              if errorMessage
                p
                  | #{errorMessage}

