if resultTopOffers && resultTopOffers.length > 0
  section.tickets-list
    h2.visually-hidden Самые обсуждаемые предложения
    .tickets-list__wrapper
      .tickets-list__header
        p.tickets-list__title Самые обсуждаемые
      ul
        each offer of resultTopOffers
          li.tickets-list__item
            .ticket-card.ticket-card--color01
              .ticket-card__img
                img(src=`/img/${offer.picture}` alt='Изображение товара')
              .ticket-card__info
                span.ticket-card__label #{offer.type}
                .ticket-card__categories
                  each category of offer.categories
                    a(href='#') #{category.name}
                .ticket-card__header
                  h3.ticket-card__title
                    a(href=`/offers/${offer.id}`) #{offer.title}
                  p.ticket-card__price
                    span.js-sum #{offer.sum}
                    |  ₽
                .ticket-card__desc
                  p #{offer.description}
